/* Estilos para o Card externo */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Estilos para os todos os tipos de input dos forms */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}
/* Estilos para os botões */
button[type=submit], button[type=reset] {
    background-color: #e1be2e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

label {
    color: #991717;
    font-weight: bolder;
    font-size: 100%;
}
h1, h2, h3 {
    color: #991717;
}
#pButton{    
    display: flex;
    margin: auto;
    justify-content: center;
}

#confirmaCpf{
    display: none;
    width: 500px;
    height: 150px;
    background-color:#ffffff;
    position: absolute;
    margin: auto;
    border: double;
    border-radius: 5px;
    box-sizing: border-box;
}
#cabecalhoAviso{  
    color: #000;
    margin-top: 0;  
    float: left;
}
#caixaAviso{
    background-color: #ffffff;
}
#botaoFechar{
    float: right;
    border-radius: 5px;
    background-color: black;
    color: #ffffff;
    margin-right: 2px;
    margin-bottom: 0;
    margin-top: 120px;
    z-index: 2;    
    
}